<div class="container">
  <div class="header">
    <p class="header-wordmark">Warehouse Furniture</p>
    <p class="header-subtitle">Confirm your email address</p>
  </div>
  <div class="body">
    <p>Hi <%= @resource.first_name %>,</p>
    <p>Thanks for creating an account. Please confirm your email address to get started.</p>

    <div style="text-align: center; margin: 28px 0;">
      <%= link_to "Confirm my account", user_confirmation_url(@resource, confirmation_token: @token), class: "btn" %>
    </div>

    <div class="info-box">
      <p>This link expires in 3 days. If you didn't create an account, you can safely ignore this email.</p>
    </div>
  </div>
  <div class="footer">
    <p>Warehouse Furniture · 1104 E Veterans Memorial Blvd, Killeen, TX 76541</p>
    <p>© <%= Time.current.year %> Warehouse Furniture. All rights reserved.</p>
  </div>
</div>
